#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#title {
  font-weight: 800;
  color: #333;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff;

  margin: auto 0;
}

#tagline {
  margin-top: 0.5rem;
  margin-bottom: 0;

  font-style: italic;
}

.section {
  margin: 0;
  padding: 1rem;
}

.section-title {
  text-transform: uppercase;
}

.select-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #202224;
  border: none;
  border-radius: 5px;
  line-height: inherit;
}

.default-option {
  color: #808080;
}
