#root {
  max-width: 1440px;
  min-width: 300px;
  margin: 45px auto auto auto;
  text-align: center;
}

#title {
  font-weight: 800;
  font-size: 48px;
  color: #333;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff;

  margin: auto 0;
}

#tagline {
  margin: 0;
  font-style: italic;

  font-size: 12px;
}

.section {
  margin: 0;
  padding: 1rem;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 16px;
  text-align: left;
}

.select-btn,
.plaintext-input,
.key-input {
  background-color: #202224;
  border: none;
  border-radius: 5px;
  line-height: inherit;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 14px;
}

.default-option {
  color: #808080;
}

.actual-encryption,
.section {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

input {
  margin-bottom: 0.5rem;
}

.plaintext-input {
  height: 10rem;
}

.enc-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;

  margin-top: 1.5rem;
  background-color: #8efda0;
  color: #333;

  border: none;
  border-radius: 10px;

  padding: 10px;

  text-transform: uppercase;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  width: 150px;

  align-self: center;
}

.arrow {
  height: 20px;
  width: auto;
}

.enc-btn.encrypt {
  background-color: #8efda0;
}

.enc-btn.encrypt:hover {
  background-color: #7bff91;
  color: #1e1e1e;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.enc-btn.decrypt {
  background-color: #ff7474;
}

.enc-btn.decrypt:hover {
  background-color: #ff6969;
  color: #1e1e1e;
  box-shadow: 0 5px 15px rgba(255, 92, 92, 0.4);
}

.toggle-container {
  background-color: #202224;
  padding: 0.25rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.toggle-container > .active {
  background-color: #363a3d;
}

.toggle-container > button {
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem;
  font-size: 14px;
  width: 140px;
  background-color: #202224;
  cursor: pointer;
}
