:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #363a3f;
  color: #f5f5f5;

  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #b1c5cb;
    color: #28282b;
  }
}
