:root {
  font-family: "Mina", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* background-color: #363a3f; */
  /* background-image: linear-gradient(135deg, #82acea 0%, #363a3f 100%); */
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: #f5f5f5;

  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #b1c5cb;
    color: #28282b;
  }
}
